/*-------------------------------------
 * customize material design icon sizes 
 *-------------------------------------
 */

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.responsive {
  width: 100%;
  height: auto;
}

.rounded-circle {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  /* Centers the circle horizontally */
}

.bg-info {
  background-color: #543C52 !important;
  /* Light green for secondary backgrounds */
}

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
  color: #361D32;
  /* Dark green for brand name & nav links for visibility */
}

.btn-info {
  color: #f2fbf2;
  /* Lightest shade for text on info button for contrast */
  background-color: #F55951;
  /* Light green for button background */
  border-color: #EDD2CB;
  /* Dark green for button border */
}

.btn-primary {
  color: #f2fbf2;
  /* Lightest shade for text */
  font-size: 150%;
  background-color: #543C52;
  /* Dark green for primary button background */
  border-color: #F55951;
  /* Reddish-brown for border to use as accent */
  border-width: thick;
}

body {
  background-color: #f1e8e6;
  /* Lightest shade for body background to follow the 60% rule */
  font-family: 'Courier New', Courier, monospace;
}

.navbar-brand {
  font-family: 'Caveat', cursive;
  /*change the font name for what you have*/
  font-size: 2.25rem;
}

/* Add CSS styles for the card container with vertical scrolling */
.card-container {
  max-height: 350px;
  /* Adjust the maximum height as needed */
  overflow-y: auto;
}

/* Style the individual cards as needed */
.card {
  width: 45%;
  /* Adjust the width as per your design, leaving a little space for margins */
  margin: 2%;
  /* Add margin between cards */
}